/* CSS ANIMATIONS */

/* ANIMATE HERO ON LOAD */

.hero {

    .welcome {
        animation-name: jd-scaleup;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        background-color: rgba(255, 236, 222, .9);
        padding: 3em;
        border-radius: 35px;
        box-shadow: inset;

        h1 {
            animation-name: jd-scaleup;
            animation-duration: 2s;
            animation-delay: .3s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
        p {
            animation-name: jd-scaleup;
            animation-duration: 2s;
            animation-delay: .5s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
        .button {
            animation-name: slide-in;
            animation-duration: 2s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            opacity: 0;
        }
    }
    
} 

@keyframes jd-scaleup {
    0% { transform: scale(.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

@keyframes slide-in {
    0% { right: 500px; opacity: 0; }
    100% { right: 0px; opacity: 1; }
}